<ion-header>
  <ion-toolbar>
    <ion-title>
      Ionic Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>

      <ion-col size="6" style="background-color: lightblue">
        <ion-item-divider color="primary">Fruits</ion-item-divider>
        <ion-list>
          <ion-item>Star Fruit</ion-item>
          <ion-item>Dragon Fruit</ion-item>
          <ion-item>Durian</ion-item>
          <ion-item>Mangostein</ion-item>
          <ion-item>Sour Cherries</ion-item>
          <ion-item>Avacado</ion-item>
        </ion-list>
      </ion-col>

      <ion-col size="6" style="background-color: pink">
        <ion-item-divider color="tertiary">Vegatables</ion-item-divider>
        <ion-list>
          <ion-item>Peas</ion-item>
          <ion-item>Carrots</ion-item>
          <ion-item>Lima Beans</ion-item>
          <ion-item>Sweet Potato</ion-item>
          <ion-item>Asparagas</ion-item>
          <ion-item>Rutabaga</ion-item>
        </ion-list>
      </ion-col>

    </ion-row>
  </ion-grid>

  <ion-button (click)="goToEmpty()">Done</ion-button>

</ion-content>